$padding: 20px;
$paddingX2: $padding * 2;
$paddingD2: $padding / 2;
$paddingD4: $padding / 4;

$baseFontSize: 16px;
$xlFontSize: 2rem;
$lFontSize: 1.5rem;
$sFontSize: 0.9rem;
$xsFontSize: 0.85rem;

html {
	font-family: helvetica, sans-serif;
	background: #F5F5F5;
	font-size: $baseFontSize;
	line-height: 1.5;
}

body {

}

h1, h2 {
	margin: $padding 0;
}

h1 {
	font-size: $xlFontSize;
}

h2 {
	font-size: $lFontSize;
}

h3, h4, h5, h6 {
	font-size: $baseFontSize;
	margin: $paddingD2 0;
}

button {
	background: #1E7CD0;
	border: 1px solid #9191A2;
	color: white;
}

#loginRegister {
	max-width: 500px;
	box-sizing: border-box;
	margin: 0 auto;
	background: white;
	padding: $padding;
	border-radius: 5px;
	border: 2px solid #E4E4E4;
}

#pageTitle {
	margin-top: 0;
}

.formGroup {
	margin-bottom: $padding;
}

.formLabel {
	display: block;
	margin-bottom: $paddingD4;
}

form {
	input, button {
		display: block;
		width: 100%;
		box-sizing: border-box;
		padding: $paddingD4;
	}
}

#registerForm {
	$margin: $paddingX2;
	margin-bottom: $margin;
	padding-bottom: $margin;
	border-bottom: 2px solid #C7C7C7;
}

.captchaGroup {
	text-align: center;
}

.g-recaptcha {
	display: inline-block;
}