$padding: 20px;
$paddingX2: $padding * 2;
$paddingD2: $padding / 2;
$paddingD4: $padding / 4;

$baseFontSize: 16px;
$xlFontSize: 2rem;
$lFontSize: 1.5rem;
$sFontSize: 0.9rem;
$xsFontSize: 0.8rem;

$fontFamily: 'Lato', helvetica, sans-serif;

$brandBlue: #2D6ED0;

html {
	font-family: $fontFamily;
	background: #F5F5F5;
	font-size: $baseFontSize;
	line-height: 1.5;
}

body {

}

h1, h2 {
	margin: $padding 0;
}

h1 {
	font-size: $xlFontSize;
}

h2 {
	font-size: $lFontSize;
}

h3, h4, h5, h6 {
	font-size: $baseFontSize;
	margin: $paddingD2 0;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: $brandBlue;

	&:hover {
		color: darken($brandBlue, 10%);
	}
}

$siteHeaderNavHeight: 45px;
$siteHeaderBorderWidth: 1px;
$siteHeaderHeight: $siteHeaderNavHeight + $siteHeaderBorderWidth;

$siteFooterBorderWidth: 2px;
$siteNavHeight: 75px;
$siteFooterHeight: $siteNavHeight + $siteFooterBorderWidth;

$navZIndex: 2;
$mainZIndex: $navZIndex - 1;

@mixin tableNav($height) {
	line-height: 1;
	text-align: center;
	display: table;
	width: 100%;
	height: $height;

	ul {
		display: table-row;
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		display: table-cell;
		vertical-align: middle;
	}
}

#siteHeader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: white;
	border-bottom: $siteHeaderBorderWidth solid #B9B9B9;
	text-align: center;
	line-height: 1;
	z-index: $navZIndex;

	nav {
		@include tableNav($siteHeaderNavHeight);
	}
}

#pageTitle {
	font-weight: 300;
	font-size: $lFontSize;
	margin: 0;
	padding: 0;
}

main {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-top: $siteHeaderHeight;
	margin-bottom: $siteFooterHeight;
	z-index: $mainZIndex;
	overflow: auto;
}

#mainWrap {
	padding: $padding;
}

#siteFooter {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: $brandBlue;
	border-top: $siteFooterBorderWidth solid darken($brandBlue, 10%);
	z-index: $navZIndex;
}

#siteNav {
	@include tableNav($siteNavHeight);

	li {
		width: 20%;
	}

	a {
		display: block;
		font-size: $lFontSize;
		color: white;
	}

	span {
		display: block;
		font-size: $xsFontSize;
		margin-top: $paddingD4;
		font-family: $fontFamily;
	}
}

form {
	label {
		display: block;
		margin-bottom: $paddingD4;
	}

	input, select, button {
		width: 100%;
		display: block;
		padding: $paddingD2;
		box-sizing: border-box;
	}

	button {
		background: $brandBlue;
		color: white;
		border: none;
		font-weight: 300;
		margin-top: $paddingX2;

		&:hover {
			background: darken($brandBlue, 10%);
		}
	}
}

.formGroup {
	margin-bottom: $padding;
}

#storyList {
	margin: 0;
	padding: 0;
	list-style: none;
}

.storyItem {
	margin-bottom: $paddingD2;
}

.storyLink {
	display: block;
	padding: $padding;
	line-height: 1;
	background: white;
	border: 1px solid #EAEAEA;

	&:hover {
		background: $brandBlue;
		color: white;
		border-color: darken($brandBlue, 10%);
	}
}

#facebookLogin {
	display: block;
	text-align: center;
	font-size: 40px;
	background: white;
	padding: $paddingX2;
	max-width: 250px;
	margin: $paddingX2 auto 0 auto;

	&:hover {
		background: $brandBlue;
		color: white;
	}
}

#facebookLoginText {
	display: block;
	font-size: $lFontSize;
	font-family: $fontFamily;
	display: block;
	margin-top: $padding;
}