main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: $siteHeaderHeight;
    margin-bottom: $siteFooterHeight;
    z-index: $mainZIndex;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background: #F5F5F5;
    transition: all 0.5s;

    .editMode & {
        margin-top: 0;
        margin-bottom: 0;
    }
}

#mainWrap {
    padding: $padding;
}