extends layout

block content
    main(id='loginRegister')
        h1(id='pageTitle') #{title}

        form(id='registerForm', class='loginRegisterForm', method='POST', action='/register')
            h2(class='formTitle') Register

            div(class='formGroup')
                label(class='formLabel', for='registerFormEmail') Email
                input(id='registerFormEmail', class='formInput', name='email', type='text', placeholder='example@domain.com')

            div(class='formGroup')
                label(class='formLabel', for='registerFormPassword') Password
                input(id='registerFormPassword', class='formInput', name='password', type='password')

            div(class='formGroup')
                label(class='formLabel', for='registerFormPasswordConfirm') Confirm Password
                input(id='registerFormPasswordConfirm', class='formInput', name='password', type='password')

            div(class='captchaGroup formGroup')
                div(class='g-recaptcha',data-sitekey='6Ld1NRwTAAAAAFN3U4oZQBKUaNaVYEXnliwupo8a')
            
            button(class='formSubmit', type='submit') Register

        form(id='loginForm', class='loginRegisterForm', method='POST', action='/login')
            h2(class='formTitle') Login

            div(class='formGroup')
                label(class='formLabel', for='loginFormEmail') Email
                input(id='loginFormEmail', class='formInput', name='email', type='text', placeholder='example@domain.com')

            div(class='formGroup')
                label(class='formLabel', for='loginFormPassword') Password
                input(id='loginFormPassword', class='formInput', name='password', type='password')

            button(class='formSubmit', type='submit') Login
