doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='https://www.google.com/recaptcha/api.js')
    body
        block content