extends ../sublayouts/layout

block content
    header

    div(id='storyWrap')
        article(id='story')
            each val in entries
                div(data-user-id='#{val.user_id}', data-user-name='Charlie Jackson') #{val.content}
        form(id='contentEdit')
            textarea(id='contentEditText', autocomplete='off', autocorrect='off', autocapitalize='none', spellcheck='false', disabled)

    if userTurn
        button(id='storyAction') Take your turn
    else
        span(id='storyAction') It is not your turn yet